<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/layui.css}">
        <script type="text/javascript" th:src="@{/js/layui.js}"></script>
    </head>
    <style>
        .layui-table-cell{
            /*覆盖layUI的高度设置*/
            height: auto;
        }
        .fm{
            width: 70%;
            padding-top: 35px;
            padding-left: 40px;
        }
    </style>
    <body>
    <!--表格对应的搜索栏-->
    <form class="layui-form layui-row layui-col-space16 fm">
        <div class="layui-col-md4">
            <div class="layui-input-wrap">
                <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-username"></i>
                </div>
                <input type="text" name="userNickname"  placeholder="用户名" class="layui-input" lay-affix="clear">
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-input-wrap">
                <input type="text" name="userStatus" placeholder="状态" lay-affix="clear" class="layui-input">
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-input-wrap">
                <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-date"></i>
                </div>
                <input type="text" name="userType"  placeholder="类型" class="layui-input demo-table-search-date">
            </div>
        </div>
        <div class="layui-btn-container layui-col-xs12">
            <button class="layui-btn" lay-submit lay-filter="table-search">搜索</button>
            <button type="reset" class="layui-btn layui-btn-primary">清除</button>
        </div>
    </form>

    <div style="padding: 16px">
        <table class="layui-hide" id="user" lay-filter="user_filter"></table>
    </div>

    <!--表格每行右侧的按钮样式-->
    <script type="text/html" id="barDemo">
        <div class="layui-clear-space">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs" lay-event="stus">{{=d.status==1?"上":"下"}}架</a>
            <a class="layui-btn layui-btn-xs" lay-event="rest">重置</a>
            <a class="layui-btn layui-btn-xs" lay-event="dele">删除</a>
        </div>
    </script>

    <script th:inline="NONE">
        layui.use(function (){
            var  tb_user=layui.table;
            var form = layui.form;
            $=layui.$;//全局变量
            // 表格渲染
            tb_user.render({
                elem:'#user',
                url:'/BootStart/Product/selectByPageCondition',
                data:'',
                // toolbar: '#toolbarDemo',//表格上方自定义工具栏
                defaultToolbar:['filter','print','exports'],//表格上方默认工具栏
                // defaultToolbar:[],//消除表格上方默认工具栏
                cols: [[ //表格字段选项栏
                    {type: 'checkbox', fixed: 'left',width: 50},//最左侧复选框
                    {field: 'id', title: 'ID', width: 50, sort: true},
                    {field: 'productName', title: '商品名', width: 240},
                    {field: 'productDescribe', title: '描述', width: 220},
                    {field: 'productCatName', title: '类别', width: 110},
                    {field: 'version', title: '版本', width: 50},
                    {field: 'type', title: '类型', width: 50},
                    {field: 'sellPrice', title: '售价', width: 90},
                    {field: 'markPrice', title: '标价', width: 90},
                    // {field: 'count', title: '数量', width: 95, sort: true},
                    {field: 'limitFlg', title: '数量状态', width: 130, templet:function (d){
                            if (d.limitFlg===1){
                                return '<span style="color: #f80303">剩余数量：'+d.count+'</span>';
                            }
                            if (d.limitFlg===0){
                                return '<span style="color: #07bd07">不限数量</span>';
                            }
                        }},
                    {field: 'status', title: '上架状态', width: 90,templet:function (d) {
                            if (d.status===1){
                                return '<span style="color: #f80303">下架</span>';
                            }
                            if (d.status===0){
                                return '<span style="color: #07bd07">上架</span>';
                            }
                        }},
                    {fixed: 'right', title:'操作', width: 200, minWidth: 200, toolbar: '#barDemo'}//单元格操作栏
                ]],
                page:{
                    limit:10,
                    limits:[10, 20, 30],
                    group:3,
                    layout:[ 'count', 'prev', 'page', 'next', 'limit','skip'],
                },
                request: {
                    pageName: 'curr', // 页码的参数名称，默认：page
                    limitName: 'nums' // 每页数据条数的参数名，默认：limit
                },
                parseData: function(reslt){ // res 即为原始返回的数据
                    return {
                        "code": reslt.code, // 解析接口状态
                        "msg": reslt.msg, // 解析提示文本
                        "count": reslt.res.count, // 解析数据长度
                        "data": reslt.res.list // 解析数据列表
                    };
                },
            });

            //表格上方条件搜索的表单提交
            form.on('submit(table-search)', function(data){
                var field = data.field; // 获得表单字段
                // 执行搜索重载
                tb_user.reload('user', {
                    page: {
                        curr: 1, // 重新从第 1 页开始
                        nums:10
                    },
                    where: field // 搜索的字段
                });
                // layer.msg('搜索成功<br>此处为静态模拟数据，实际使用时换成真实接口即可');
                layer.msg('搜索成功<br>');
                return false; // 阻止默认 form 跳转
            });

            // 单元格右侧工具栏的事件
            tb_user.on('tool(user_filter)', function(obj){
                var data = obj.data; // 获得当前行数据
                product=data;
                switch (obj.event){
                    case 'edit':layer.open({
                        title: '编辑 - id:'+ data.id,
                        type: 2,
                        area: ['80%','80%'],
                        content: '/BootStart/ModelData/productEdit?Categoryid='+data.categoryId+'&id='+data.id,
                        end:function (){tb_user.reload('user');}//重新加载表格
                    });break;
                    case 'stus':layer.confirm('确认'+(data.status?"上":"下")+'架该商品 ['+ data.productName +'] 么',{icon:3,title:'提示'}, function(index){
                        // 向服务端发送删除指令
                        var id=data.id;
                        var stus=(data.status?"0":"1")
                        $.ajax({
                            url:'/BootStart/Product/updataStatus',
                            type:'post',
                            data: {
                                id:id,
                                status:stus
                            },
                            dataType:'json',
                            success:function (result){
                                if (result.code===200){
                                    layer.msg("操作成功");
                                }else{
                                    layer.msg(result.msg);
                                }
                                tb_user.reload('user')
                            },
                            error:function (result){
                                layer.msg(result.msg);
                            }
                        });
                        layer.close(index);
                    });break;
                    case 'rest':layer.prompt({title: '重置该用户：'+ data.userNickname +'  密码', formType: 1}, function(pass, index){
                        var id=data.id;
                        $.ajax({
                            url:'/BootStart/User/resetPass',
                            type:'post',
                            data: {
                                id:id,
                                userPass:pass
                            },
                            dataType:'json',
                            success:function (result){
                                if (result.code===200){
                                    layer.msg("重置成功");
                                }else{
                                    layer.msg(result.msg);
                                }
                                tb_user.reload('user')
                            },
                            error:function (result){
                                layer.msg(result.msg);
                            }
                        });
                        layer.close(index);
                    });break;
                    case 'dele':layer.confirm('确定删除行 [id: '+ data.id +'] 么',{icon:3,title:'提示'}, function(index){
                        // 向服务端发送删除指令
                        var id=data.id;
                        layer.msg(id);
                        $.ajax({
                            url:'/BootStart/Product/productDelete',
                            type:'post',
                            data: {id:id},
                            dataType:'json',
                            success:function (result){
                                if (result.code===200){
                                    layer.msg("删除成功");
                                }else{
                                    layer.msg(result.msg);
                                }
                            },
                            error:function (result){
                                layer.msg(result.msg);
                            }
                        });
                        obj.del(); // 删除对应行（tr）的DOM结构
                        layer.close(index);
                    });break;
                }
            });
            //表格上方工具栏的事件
            tb_user.on('toolbar(user_filter)', function(obj){
                var id = obj.config.id;
                var checkStatus = tb_user.checkStatus(id);
                var othis = lay(this);
                switch(obj.event){
                    case 'getCheckData':
                        var data = checkStatus.data;
                        layer.alert(layui.util.escape(JSON.stringify(data)));
                        break;
                    case 'getData':
                        var getData = tb_user.getData(id);
                        console.log(getData);
                        layer.alert(layui.util.escape(JSON.stringify(getData)));
                        break;
                    case 'addData':
                        var dataid = checkStatus.data;
                        layer.open({
                            title: '编辑 - id:'+ dataid,
                            type: 1,
                            area: ['80%','80%'],
                            content: '<div style="padding: 16px;">自定义表单元素</div>'
                        }); break;
                    case 'LAYTABLE_TIPS':
                        layer.alert('自定义工具栏图标按钮');
                        break;
                }
            });
        })
    </script>
    </body>
</html>