<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head lang="en">
		<meta charset="utf-8" />
		<title>最家</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a th:href="@{index.html}"><img th:src="@{/img/logo.png}"/></a></h1>
					<div class="fr clearfix" id="top1">
						<p class="fl">
							<a href="/login" id="login">登录</a>
							<a href="#" id="reg">注册</a>
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" id="key" placeholder="搜索" />
							<input type="button" id="btn-search" />
						</form>
						<div class="btn fl clearfix">
							<a href="mygxin.html"><img th:src="@{/img/grzx.png}"/></a>
							<a href="#" class="er1"><img th:src="@{/img/ewm.png}"/></a>
							<a href="cart.html"><img th:src="@{/img/gwc.png}"/></a>
							<p><a href="#"><img th:src="@{/img/smewm.png}"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott">
					<li><a href="index.html" th:href="@{/index}">首页</a></li>
<!--					<li>-->
<!--						<a href="flowerDer.html">一级分类</a>-->
<!--						<div class="sList2">-->
<!--							<div class="clearfix">-->
<!--								<a href="proList.html">二级分类</a>-->
<!--								<a href="vase_proList.html">二级分类</a>-->
<!--							</div>-->
<!--						</div>-->
<!--					</li>-->
				</ul>
			</div>
		</div>
		<!-------------------------banner--------------------------->
		<div class="block_home_slider">
			<div id="home_slider" class="flexslider">
				<ul class="slides">
					<li>
						<div class="slide">
							<img th:src="@{/img/banner2.jpg}"/>
						</div>
					</li>
					<li>
						<div class="slide">
							<img th:src="@{/img/banner1.jpg}"/>
						</div>
					</li>
				</ul>
			</div>
		</div>
		

		<br>
		<br>
		<br>
		<div id="recom">


		<!------------------------------ad------------------------------>
		<a href="#" class="ad"><img th:src="@{img/ib1.jpg}"/></a>
		<h2 style="text-align: center">推荐商品</h2>
		<!------------------------------people------------------------------>
		<div class="people">
			<div class="wrapper">
				<h2><img th:src="@{img/ih3.jpg}"/></h2>
				<div class="pList clearfix tran">
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img th:src="@{img/s7.jpg}"/>
								<span class="abr"></span>
							</dt>
							<dd>【最家】不锈钢壁饰墙饰软装</dd>
							<dd><span>￥688.00</span></dd>
						</dl>
					</a>
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img th:src="@{img/s10.jpg}"/>
								<span class="abr"></span>
							</dt>
							<dd>【最家】小城动物木板画壁挂北欧</dd>
							<dd><span>￥188.00</span></dd>
						</dl>
					</a>
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img th:src="@{img/s4.jpg}"/>
								<span class="abr"></span>
							</dt>
							<dd>【最家】玄关假山水壁饰背景墙饰挂件创意</dd>
							<dd><span>￥599.00</span></dd>
						</dl>
					</a>
					<a href="proDetail.html">
						<dl>
							<dt>
								<span class="abl"></span>
								<img th:src="@{img/s9.jpg}"/>
								<span class="abr"></span>
							</dt>
							<dd>【最家】金属树枝壁饰铜鸟装饰品</dd>
							<dd><span>￥928.00</span></dd>
						</dl>
					</a>
				</div>

			</div>
		</div>
		</div>

		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html">
			<dl>
				<dt><img th:src="@{img/gt1.png}"/></dt>
				<dd>去购<br />物车</dd>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img th:src="@{img/gt2.png}"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="mygxin.html">
			<dl>
				<dt><img th:src="@{img/gt3.png}"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none">
			<dl>
				<dt><img th:src="@{img/gt4.png}"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		
		<!-------------------login-------------------------->
		<!--footer-->
		<div class="footer">
			<div class="top">
				<div class="wrapper">
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{img/foot1.png}"/></a>
						<span class="fl">7天无理由退货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{img/foot2.png}"/></a>
						<span class="fl">15天免费换货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{img/foot3.png}"/></a>
						<span class="fl">满599包邮</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{img/foot4.png}"/></a>
						<span class="fl">手机特色服务</span>
					</div>
				</div>
			</div>
			<p class="dibu">最家家居&copy;2013-2017公司版权所有 京ICP备080100-44备0000111000号<br />
			违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
		</div>
		
		<script th:src="@{/js/jquery-1.12.4.min.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/js/public.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/js/nav.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/js/jquery.flexslider-min.js}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$('#home_slider').flexslider({
					animation: 'slide',
					controlNav: true,
					directionNav: true,
					animationLoop: true,
					slideshow: true,
					slideshowSpeed:2000,
					useCSS: false
				});

				$.ajax({
					url:'/api/category',
					dataType:'json',
					success(result){
						console.log("/api/category  请求成功")
						if (result.code==200){
							console.log("/api/category  处理成功");
							var first=[];
							var second=[];
							$.each(result.res,function (index,item){
								if (item.parentId==0){
									first.push(item);
								}else {
									second.push(item);
								}
							});
							var html='';

							//一级分类
							$.each(first,function (index,item){
								var id=item.id;
								var name=item.ctName;
								html+='<li>';
								html+='<a href="#">'+item.ctName+'</a>';
								// 遍历二级分类
								html+='<div className="sList2">'
								html+='<div className="clearfix">'
								$.each(second,function (index,item){
									if (item.parentId == id){
										html+='<a href="/proList?id='+item.id+'&name='+name+'">'+item.ctName+'&nbsp;&nbsp;</a>';
									}
								});
								html+='</div></div>'
								html+='</li>'
							});
							$('#bott').append(html);

						}else {
							console.log(result.msg)
						}
					},
					error(result){
						console.log("/api/category  请求失败")
					}
				})

				//获取所有推荐的分类
				getRecomCategory();
				function getRecomCategory(){
					$.ajax({
						url:'/api/category',
						data:{recom:1},
						dataType:'json',
						success(result){
							console.log("/api/category  请求成功")
							if (result.code==200){
								console.log(result);

								//获取分类
								var first=[];
								var second=[];
								var html='';
								$.each(result.res,function (index,item){
									if (item.parentId==0){
										first.push(item);
									}else {
										second.push(item);
									}
								});
								//一级分类
								$.each(first,function (index,item){
									var id=item.id;
									// 遍历二级分类
									$.each(second,function (index,item){
										if (item.parentId == id){//一级分类下的二级分类
											html+='\t\t<a href="#" class="ad"><img th:src="@{img/ib1.jpg}"/></a>';

											html+='<div className="people">';
											html+='<div className="wrapper" id="recom'+item.id+'">';
											html+='	<h2>'+item.ctName+'</h2>';
											getRecomProduct(item.id,html);
											html+='</div></div>';
										}
									});
								});
								$('#recom').append(html);

							}
						},
						error(result){
							console.log("/api/category  请求失败")
						}
					})
				}
				//获取分类下商品
				function getRecomProduct(id,html){
					$.ajax({
						url:'/api/product',
						data:{
							categoryId:id,
							recom:1
						},
						dataType:'json',
						success(result){
							if (result.code==200){
								var html='';
								$.each(result.res,function (index,item){
									var pics =item.pics;
									var pic;
									if (pics!=null && pics.length>0){
										pic=pics[0]
									}
									if (index%4===0){
										html+='<div class="pList clearfix tran">\n';
									}
									html+='' +
											'\t\t\t\t\t<a href="/proDetail?id="'+item.id+'>\n' +
											'\t\t\t\t\t\t<dl>\n' +
											'\t\t\t\t\t\t\t<dt>\n' +
											'\t\t\t\t\t\t\t\t<span class="abl"></span>\n' +
											'\t\t\t\t\t\t\t\t<img src="/img/upload/'+pic+'"/>\n' +
											'\t\t\t\t\t\t\t\t<span class="abr"></span>\n' +
											'\t\t\t\t\t\t\t</dt>\n' +
											'\t\t\t\t\t\t\t<dd>'+item.productName+'</dd>\n' +
											'\t\t\t\t\t\t\t<dd><span>￥'+item.markPrice+'</span></dd>\n' +
											'\t\t\t\t\t\t</dl>\n' +
											'\t\t\t\t\t</a>'
									if (index%4===3 || index===item.length-1){
										html+='</div>';
									}
								});
								$('#recom'+id+'').append(html);
							}
						},
						error(result){
							console.log("/api/category  请求失败")
						}
					})
				}

				$('#btn-search').click(function () {
					var key=$('#key').val();

					window.location.href='/search?key='+key;
				})
			});
		</script>
	</body>
</html>
